@import 'reset.css';
@import 'fonts.css';

.main{
	position:relative;
	min-height:100%;
	overflow:hidden;
	z-index:10;
}

.b-inner{
	max-width:1040px;
	min-width:1000px;
	margin:0 auto;
}
.col-3{
	display:inline-block;
	width:100%;
}
.col-3 .col{
	width:33%;
	float:left;
	clear:right;
}
.col-3 .col + .col{
	width:34%;
}
.col-3 .col + .col + .col{
	width:33%;
}


/* Top line */
#b-top{
	position:relative;
	width:100%;
	left:0;
	top:0;
	z-index:100;
	line-height:0;
}

.b-steps-info{
	position:relative;
	display:none;
	padding:25px 0;
	color:#fff;
	background:url(../img/bg/steps-shadow.gif) 0 100% #f44c3b repeat-x;
	overflow:hidden;
}
.b-steps-info .b-inner{
	overflow:hidden;
	background:url(../img/bg/steps-dot.gif) 100% 50% repeat-x;
}
.b-steps-info .step{
	float:left;
	width:33%;
	overflow:hidden;
	text-align:left;
	clear:right;
}
.b-steps-info .step .i{
	display:inline-block;
	width:260px;
	padding:0 25px 0 45px;
	text-align:left;
	vertical-align:middle;
	background:url(../img/bg/steps-arrow.gif) -103px 50% no-repeat #f44c3b;
}
.b-steps-info .step + .step{
	text-align:center;
	width:34%;
}
.b-steps-info .step + .step .i{
	width:225px;
}
.b-steps-info .step + .step + .step{
	text-align:right;
	width:33%;
}
.b-steps-info .step + .step + .step .i{
	width:240px;
}
.b-steps-info .step:first-child .i{
	background:#f44c3b;
	padding-left:20px;
}
.b-steps-info .step .num{
	float:left;
	width:30px;
	height:30px;
	font:20px/30px 'BlissProBold';
	color:#f44c3b;
	background:#fff;
	text-align:center;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.b-steps-info .step .step-info{
	overflow:hidden;
	padding:0 0 0 10px;
	font:12px/14px 'BlissProExtraLight';
}
.b-steps-info .step .step-info strong{
	display:block;
	font:14px 'BlissProHeavy';
	text-transform:uppercase;
}
.b-steps-info .step .step-info span{
	display:inline-block;
	font-size:14px;
	background:#faa69d;
	width:14px;
	color:#f44c3b;
	text-align:center;
	letter-spacing:0;
	margin:0 0 0 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.navigation{
	display:inline-block;
	width:100%;
	height:33px;
	background:#fff;
	padding:15px 0 0 0;
	font:12px/18px 'BlissProExtraLight';
}
.navigation .region{
	float:left;
	padding:0 30px 0 197px;
	color:#797979;
}
.navigation .region .cusel{
	vertical-align:middle;
	margin:0 0 0 5px;
	height:18px;
	border:1px solid #f1f1f1;
	background:none;
}
.navigation .region .cusel .cuselActive{
	background:#ef4c3d;
}
.navigation .region .cusel span:hover{
	background:#f9a59d;
}
.navigation .region .cusel .cuselText{
	padding:2px 5px;
}
.navigation .region .cusel .cuselFrameRight {
    background: url(../img/bg/region-select-arr-down.png) 50% 50% no-repeat;
    height: 100%;
    width: 24px;
}
.navigation .region .cusel .jScrollPaneContainer {
    border: 1px solid #f1f1f1;
	border-top:1px solid #fff;
}
.navigation .region .cusel .jScrollPaneTrack{
	background:#f1f1f1;
}
.navigation .region .cusel .jScrollArrowDown{
	background: url(../img/bg/region-select-arr-down.png) 50% 50% no-repeat;
}
.navigation .region .cusel .jScrollArrowUp{
	background: url(../img/bg/region-select-arr-up.png) 50% 50% no-repeat;
}
.navigation .basket{
	float:right;
	width:134px;
	padding:0 20px 0 14px;
	font-family:'BlissProBold';
	text-transform:uppercase;
}
.navigation .basket a{
	text-decoration:none;
	padding-right:13px;
	background: url(../img/bg/cart-arrow.gif) 100% 4px no-repeat;
}
.navigation .basket a img{
	vertical-align:baseline;
	margin:0 5px 0 0;
}
.navigation .user{
	float:right;
	padding:0 5px;
	color:#797979;
}
.navigation .user a{
	color:#797979;
	text-decoration:none;
	padding:0 9px 0 10px;
	background:url(../img/bg/sep-1.gif) 0 50% no-repeat;
}
.navigation .user a:first-child{
	background:none;
	padding-left:0;
}
.navigation .user a:hover{
	color:#ef4c3d;
}
.navigation .menu{
	overflow:hidden;
}
.navigation .menu ul{
	overflow:hidden;
	list-style-type:none;
	font-family:'BlissProRegular';
	text-transform:uppercase;
}
.navigation .menu ul li{
	float:left;
	padding:0 7px;
}
.navigation .menu ul li a{
	text-decoration:none;
}
.navigation .menu .show-steps{
	float:left;
	width:24px;
	height:18px;
	margin-right:5px;
	background:url(../img/bg/hexagon-1.png) 0 0 no-repeat;
	cursor:pointer;
}
.navigation .menu .show-steps .arr{
	display:block;
	width:100%;
	height:100%;
	background:url(../img/bg/toggle-arrow-white.png) 50% 5px no-repeat;
	cursor:pointer;
}
.navigation .menu .show-steps.active .arr{
	background-position:50% -87px;
}
/**/

/* Main filter */
#main-filter{
	position:absolute;
	margin:-48px 0 0 0;
	width:100%;
	z-index:150;
}
#main-filter .b-inner{
	position:relative;
}
#main-filter .wrap-content{
	position:absolute;
	left:0;
	width:180px;	
}
#main-filter .wrap-content .content-border{
	border-left:1px solid #2f2b28;
	border-right:1px solid #2f2b28;
	padding:0 3px;
}
#main-filter .wrap-content .content{
	padding:15px 7px 0 7px;
	background:#241d1c;
	color:#828282;
	overflow:hidden;
}
#main-filter .wrap-content .content .top{
	position:relative;
	margin:0 -7px;
	padding-bottom:25px;
	text-align:center;
	font:12px/15px 'BlissProExtraLight';
}
#main-filter .wrap-content .content .top img{
	vertical-align:baseline;
}
#main-filter .wrap-content .content .top a{
	color:#828282;
	text-decoration:none;
	padding:0 5px 0 4px;
	background:url(../img/bg/sep-3.png) 100% 50% no-repeat;
}
#main-filter .wrap-content .content .top a.first{
	padding:0;
	background:0;
}
#main-filter .wrap-content .content .top a.last{
	padding-right:0;
	background:none;
}
#main-filter .wrap-content .content .top a:hover{
	color:#fff;
}
#logo{
	text-align:center;
	margin:0 0 8px 0;
}
#logo a{
	display:block;
}
#main-filter .wrap-content .content .about{
	width:140px;
	margin:0 auto 12px auto;
	padding-top:3px;
	border-top:1px solid #4e4b49;
}
#main-filter .wrap-content .content .about div{
	padding:7px 0 10px 0;
	text-align:center;
	font:italic 13px/13px serif;
	color:#918f8d;
	border-bottom:1px solid #4e4b49;
	border-top:1px solid #4e4b49;
}
#main-filter .wrap-content .content .phone{
	text-align:center;
	font:italic 13px/16px serif;
	margin:0 0 15px 0;
}
#main-filter .wrap-content .content .phone strong{
	font:normal 16px 'pf_agora_slab_pro_mediumRg';
	color:#fff;
}
#main-filter .wrap-content .content ul.menu{
	list-style-type:none;
	width:140px;
	margin:0 auto;
}
#main-filter .wrap-content .content ul.menu li a{
	display:block;
	color:#fff;
	padding:10px 0;
	text-decoration:none;
}
#main-filter .wrap-content .content ul.menu li{
	font:14px/16px 'BlissProBold';
	text-transform:uppercase;
	border-top:1px dotted #808080;
}
#main-filter .wrap-content .content ul.menu li:first-child{
	border:0;
	padding-top:0;
}
#main-filter .wrap-content .content ul.menu li span.note{
	display:block;
	font-family:'BlissProExtraLight';
	text-transform:none;
}
#main-filter .btm{
	position:relative;
	width:180px;
	height:65px;
	background:url(../img/bg/filter-bottom.png) 0 0 no-repeat;
}
#main-filter .btm .arr{
	display:block;
	position:absolute;
	width:100%;
	height:18px;
	top:9px;
	background:url(../img/bg/toggle-arrow-white.png) 50% 5px no-repeat;
}
#main-filter .btm .arr{
	background-position:50% -87px;
}
/**/

/* Content */
#content-wrap{
	position:relative;
	background: url(../img/bg/content.jpg) 50% -150px no-repeat #ebebeb;
	z-index:50;
}
#content-wrap .vis{
	padding:78px 0;
	background: url(../img/bg/content-shadow.png) 0 0 repeat-x;
}

#movingline{
	position:absolute;
	width:100%;
	left:0;
	top:0;
	height:78px;
}
#movingline .b-inner{
	position:relative;
	overflow:hidden;
	height:78px;
	line-height:78px;
}
#movingline .b-inner #scroller_container{
	position:relative;
	height:78px;
	z-index:5;
}
#movingline .b-inner .l,
#movingline .b-inner .r{
	position:absolute;
	top:8px;
	width:10px;
	height:60px;
	z-index:5;
}
#movingline .b-inner .r{
	right:0;
	background: url(../img/bg/ml-right.png) 100% 0 repeat-y;
}
#movingline .b-inner .l{
	width:200px;
	left:0;
	background: url(../img/bg/ml-left.png) 100% 0 repeat-y;
}
#movingline ul{
	position:relative;
	width:9999px;
	overflow:hidden;
	list-style-type:none;
	margin-left:178px;
	z-index:10;
}
#movingline ul li{
	float:left;
	font-size:14px;
	padding:0 22px 0 25px;
	background:url(../img/bg/dot.png) 0% 50% no-repeat;
}
#movingline ul li:first-child{
	background:none;
}

#content-wrap .content{
	margin-left:200px;
}
#content-wrap .content .card{
	width:216px;
	margin:0 auto;
	padding:24px;
	background:#fff;
	min-height:291px;
	overflow:hidden;
	-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.36);
	-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.36);
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.36);
}
#content-wrap .content .card .back,
#content-wrap .content .card.flip .front{
	display:none;
}
#content-wrap .content .card .back{
	font:13px/22px 'pf_agora_slab_proitalic';
	padding:60px 0 0 10px;	
}
#content-wrap .content .card.flip .back{
	display:block;
}
#content-wrap .content .card.flip .back a{
	margin:0 2px;
}
#content-wrap .content .card.flip .back strong{
	font-size:16px;
}
#content-wrap .content .card img{
	line-height:0;
	padding-bottom:14px;
	background:url(../img/bg/card-img.gif) 50% 100% no-repeat;
}
#content-wrap .content .card h2{
	color:#000;
	font:16px/100% 'BlissProBold';
	text-align:center;
	text-transform:uppercase;
	padding:14px 0 0 0;
	margin:0;
}
#content-wrap .content .card .note{
	color:#989695;
	text-align:center;
	margin:0;
	padding:0;
}
/**/

/* ADV */
.b-adv{
	position:relative;
	margin:-8px 0 0 0;
	z-index:70;
}
.b-adv .top{
	height:8px;
	width:100%;
	overflow:hidden;
	background:url(.../img/bg/adv-shadow.png) 0 100% repeat-x;
}
.b-adv .content{
	padding:25px 0 30px;
	background:#fff;
}
.b-adv .col{
	width:33%;
	text-align:left;
}
.b-adv .col + .col{
	width:34%;
	text-align:center;
}
.b-adv .col + .col + .col{
	width:33%;
	text-align:right;
}

/**/

/* Footer */
#footer{
	position:relative;
	height:22px;
	margin-top:-22px;
	font:12px/22px 'BlissProExtraLight';
	background:#221e1b;
	color:#fff;
	overflow:hidden;
	z-index:15;
}
#footer .info{
	float:left;
}
#footer .info a{
	color:#fff;
	text-decoration:none;
	padding:0 9px 0 10px;
	background:url(../img/bg/sep-2.gif) 0 50% no-repeat;
}
#footer .info a:first-child{
	background:none;
	padding-left:0;
}
#footer .info a:hover{
	text-decoration:underline;
}
#footer .copyright{
	float:right;
}
/**/

/*partners*/
.Clear {clear:both; font-size:1px; line-height:0px; height:0px;}

.partners h1 {font:22px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#d04f42;}
.partners h2 {font:20px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#1e1e1e;}
.partners h3 {font:18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#1e1e1e;}
.partners ul {list-style:none;}

.partners .menu {background:url(../img/bg/menu.png) repeat-x; width:100%; height:32px; padding-top:28px; position:absolute; top:0; left:0;}
.partners .menu li {font:12px 'BlissProRegular'; text-transform:uppercase; color:#ef4e3f; padding:10px 15px 0 15px; height:22px; float:left;}
.partners .menu li.active {background-color:#ebebeb;}
.partners .menu a {color:#ffffff; text-decoration:none;}

.partners .header {padding:20px 0; width:100%;}
.partners .header .rText {float:right; width:400px; text-align:right; font:14px 'BlissProExtraLight'; font-style:italic;}

.partners .category_list {width:100%; overflow:hidden; font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; line-height:14px;}
.partners .category_list .list {width:840px; padding-left:4px;}
.partners .category_list .item {display:inline-block; vertical-align:top; background-color:#fefefe; padding:10px 15px; width:170px; height:180px; margin:0 7px 10px 0; -webkit-box-shadow:0 1px 4px #c1c1c1; -moz-box-shadow:0 1px 4px #c1c1c1; box-shadow:0 1px 4px #c1c1c1; behavior: url(css/PIE.htc); position:relative;}
.partners .category_list .item ul {padding-top:8px;}
.partners .category_list .item li {padding:5px 0; border-bottom:1px dotted #d2d1cb;}
.partners .category_list .item li span {display:inline-block; vertical-align:top; width:145px; padding-right:5px;}
.partners .category_list .item li .rText {width:20px; padding:0; text-align:right; color:#a7a7a7;}
.partners .category_list .item li a {text-decoration:none; color:#5d5d5d;}

.partners .category_list .addCategory {background-color:#eeeeee; width:198px; height:198px; padding:0; border:1px dotted #a0a0a0; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
.partners .category_list .addCategory a {display:block; text-decoration:none; color:#989898;}
.partners .category_list .addCategory .icoPlus {display:inline-block; vertical-align:middle; background:url(../img/icon/plus.gif) 30px center no-repeat; width:65px; height:200px;}
.partners .category_list .addCategory .txt {display:inline-block; vertical-align:middle; width:120px; font:20px "Trebuchet MS", Arial, Helvetica, sans-serif;}

.partners .product_list {width:100%;}
.partners .product_list .item {background-color:#fefefe; padding:15px; margin-bottom:20px;}
.partners .product_list .item h2 {background:url(../img/bullet1.gif) 0 6px no-repeat; padding:0 0 0 25px; margin-right:180px; cursor:pointer;}

.partners .product_list .item .list {padding:0 0 15px 25px; display:none; position:relative;}
.partners .product_list .item .list .btnAdd {display:inline-block; vertical-align:top; background:url(../img/icon/plus1.gif) 9px center no-repeat; padding:5px 12px 5px 24px; font:12px 'pf_agora_slab_proitalic'; color:#ef4e3f; text-decoration:none; border:1px solid #ef4e3f; position:absolute; top:-25px; right:25px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; behavior: url(css/PIE.htc);}
.partners .product_list .item .list .product {display:inline-block; vertical-align:top; border:1px solid #eaeaea; width:180px; height:320px; margin:15px 8px 0 0;}
.partners .product_list .item .list .product h3 {padding:15px 15px 0 15px;}
.partners .product_list .item .list .product .Img {width:180px; height:120px; text-align:center;}
.partners .product_list .item .list .product .Img img {width:180px; height:120px;}
.partners .product_list .item .list .product .txt {width:160px; height:70px; overflow:hidden; padding:0 10px; margin-bottom:10px; font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; line-height:14px; color:#575757;}
.partners .product_list .item .list .product .info {border-top:1px dotted #6d6857; border-bottom:1px dotted #6d6857; width:160px; margin:0 auto; padding:5px 0; font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; line-height:14px; color:#575757;}
.partners .product_list .item .list .product .info span {font-size:19px; color:#ef4c3d; font-style:italic;}
.partners .product_list .item .list .product .info .ruble {font:20px 'als_rublregular';}
.partners .product_list .item .list .product .btn {padding-top:10px; text-align:center; font:12px 'pf_agora_slab_proitalic';}
.partners .product_list .item .list .product .btn a {display:inline-block; vertical-align:top; background:url(../img/bg/btn.png) repeat-x #212121; padding:5px 8px; color:#fefefe; text-decoration:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; behavior: url(css/PIE.htc); position:relative;}

.partners .product_list .addSubCategory {background-color:#eeeeee; padding:0; border:1px dotted #a0a0a0;}
.partners .product_list .addSubCategory a {display:block; padding:15px; text-decoration:none; color:#989898;}
.partners .product_list .addSubCategory a h2  {background:url(../img/icon/plus.gif) 0 center no-repeat; color:#989898; padding:0 25px;}

.partners .product_list .active {position:relative; z-index:100;}
.partners .product_list .active h2 {background:url(../img/bullet1_1.gif) 0 9px no-repeat;}
.partners .product_list .active .list {display:block;}

.partners .product_list .popup {position:absolute; top:10px; left:115px; display:none;}
.partners .product_list .popup span {display:inline-block; vertical-align:top;}
.partners .product_list .popup .block {background-color:#f6f6f6; padding:20px 35px; width:540px; -webkit-box-shadow:0 2px 4px #c6c6c6; -moz-box-shadow:0 2px 4px #c6c6c6; box-shadow:0 2px 4px #c6c6c6; behavior: url(css/PIE.htc); position:relative;}
.partners .product_list .popup .block .btnClose {display:inline-block; background:url(../img/btn_close.gif) no-repeat; width:14px; height:13px; position:absolute; top:15px; right:15px; text-decoration:none;}
.partners .product_list .popup .textfield1 {width:430px; padding:5px 10px; border:1px solid #b3b3b3; background-color:#ffffff; -webkit-box-shadow:0 2px 4px #d8d8d8; -moz-box-shadow:0 2px 4px #d8d8d8; box-shadow:0 2px 4px #d8d8d8; behavior: url(css/PIE.htc); position:relative; margin-bottom:18px;}
.partners .product_list .popup .textfield1 input {width:430px; border:0; background:none; font:20px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#241e1c;}
.partners .product_list .popup .Img {width:180px; height:120px; margin-bottom:20px;}
.partners .product_list .popup .Img a {display:block; width:178px; height:72px; padding-top:46px; border:1px dotted #a1a1a1; background-color:#ffffff; text-align:center; font:11px "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; color:#aeaeae; text-transform:uppercase; text-decoration:none;}
.partners .product_list .popup .textarea {width:330px; height:120px; padding-left:26px; margin-bottom:20px;}
.partners .product_list .popup .textarea textarea {width:310px; height:100px; padding:10px; font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#575757; resize:none;}
.partners .product_list .popup .info {border-top:1px dotted #6d6857; border-bottom:1px dotted #6d6857; font:11px "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; color:#aaaaaa; text-transform:uppercase; margin-bottom:10px;}
.partners .product_list .popup .info .infoBlock {padding:5px 0;}
.partners .product_list .popup .info .txt {padding:8px 5px 0 0;}
.partners .product_list .popup .info .txt em {color:#241e1c; text-transform:none;}
.partners .product_list .popup .info .txt .ruble {font:14px 'als_rublregular'; text-transform:none; color:#241e1c;}
.partners .product_list .popup .info .selectfield {width:65px; padding-top:3px;}
.partners .product_list .popup .info .selectfield select {width:65px; font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; color:#241e1c; text-transform:none;}
.partners .product_list .popup .textfield2 {width:45px; padding:5px; background-color:#ffffff;}
.partners .product_list .popup .textfield2 input {width:45px; border:0; background:none; font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; color:#241e1c; text-transform:none}
.partners .product_list .popup .add_size {padding-bottom:35px;}
.partners .product_list .popup .add_size a {background:url(../img/icon/plus2.gif) left center no-repeat; display:inline-block; vertical-align:top; padding-left:15px; font:11px "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; color:#ef4e3f;}
.partners .product_list .popup .addPhoto {font:11px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#a3a3a3; padding-bottom:15px;}
.partners .product_list .popup .addPhoto .item1 {margin-bottom:10px;}
.partners .product_list .popup .addPhoto .item1 .txt {font:12px "Trebuchet MS", Arial, Helvetica, sans-serif;  color:#2b2b2b; font-weight:bold; text-transform:uppercase; padding:8px 10px 0 0;}
.partners .product_list .popup .addPhoto .item1 .txt img {vertical-align:middle; margin-right:5px;}
.partners .product_list .popup .addPhoto .item1 .txt a {color:#2b2b2b; text-decoration:none;}
.partners .product_list .popup .addPhoto .textfield3 {width:315px; padding:5px 10px; background-color:#ffffff;}
.partners .product_list .popup .addPhoto .textfield3 input {width:315px; border:0; background:none; font:14px "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; color:#241e1c;}
.partners .product_list .popup .addPhoto .item1 .filefield {background-color:#a3a3a3; width:60px; height:22px; padding-top:8px; position:relative; overflow:hidden; font:10px 'pf_agora_sans_probold'; color:#fefefe; text-transform:uppercase; text-align:center; cursor:pointer;}
.partners .product_list .popup .addPhoto .item1 .filefield input {position:absolute; top:0; right:0; font-size:50px;  -moz-opacity:0; opacity:0; filter: alpha(opacity=0); cursor:pointer;}
.partners .product_list .popup .btns {padding-top:15px; border-top:1px dotted #bfbdb6; text-align:right;}
.partners .product_list .popup .btns input {border:0; font:10px 'pf_agora_sans_probold'; color:#fefefe; text-transform:uppercase; cursor:pointer;}
.partners .product_list .popup .btns .btnClear {background-color:#a3a3a3; width:144px; height:30px; margin-right:8px;}
.partners .product_list .popup .btns .btnSave {background-color:#ef4e3f; width:78px; height:30px;}
.partners .product_list .popup .btns input[disabled] {background-color:#e4e4e4; cursor:default;}

.partners .btn {padding-top:10px; text-align:center; font:12px 'pf_agora_slab_proitalic';}
.partners .btn a {display:inline-block; vertical-align:top; background:url(../img/bg/btn.png) repeat-x #212121; padding:5px 8px; color:#fefefe; text-decoration:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; behavior: url(css/PIE.htc); position:relative;}

.partners .category_list .item .btn{text-align:left;}
.partners .item .del-item{float:right;}
.partners .item .product .del-item{padding:15px;}
.partners .btn.floatRight{position:absolute;right:170px;top:-34px;}
.partners .item .del-item.floatRight{position:absolute;right:290px;top:-20px;}
/**/