*.py[co]
*.sw[po]
/db.sqlite
/workgin
/knock.sh
/uploads
/working
/ve
/venv
/maketarball.sh
*.tar.bz2
/wsgi.py
/*.log
/media/grappelli
/*.sh
/colortek.xml
/identity
/identity*
/conf/locale/ru/LC_MESSAGES/django.mo
/media/css/*.old
/media/js/*.old
/media/uploads/
*.html.old
/auth
/.project
/.pydevproject
/.settings/
settings/local.py
.idea