{% extends base %} {% load i18n %}
{% block content %}
    <div class='contentform'>
        <h2>{% trans "Форма процедуры восстановление забытого пароля" %}</h2>
		<br>
        <form class='password-restore-form' id='' method='POST' url='{% url accounts:password-restore-initiate %}'>
            {% csrf_token %}
            {% include "forms/bootstrap.html" with form=form %}
            <div class='actions line submit'>
                <input type='submit' class='btn btn-primary' value='Начать'>
            </div>
        </form>
    </div>
{% endblock %}