{% extends base %}{% load i18n %}
{% block content %}
<div class='contentform'>
    <form class='' method='POST' action='{% url accounts:password-restore form.instance.sid %}'>
        {% csrf_token %}
        <!--<label for='id_username'>User: <strong>{{ form.instance.user.username }}</strong></label>-->
        {% include "forms/bootstrap.html" with form=form %}
        <div class='line submit actions'>
            <input type='submit' class='btn btn-primary' value='{% trans "Change password" %}' />
        </div>
    </form>
</div>
{% endblock %}
