{% extends base %}
{% block body-class %}text-pages{% endblock %}
{% block content %}
    <h3>Вы успешно зарегистрировались на сайте www.uzevezu.ru</h3>
	<br>
    <div class='info'>
		<p>
            Теперь вы можете <a href="{% url accounts:login %}">авторизироваться</a> и войти в свой личный кабинет
{#			Для подтверждения регистрации, пожалуйста, пройдите по ссылке, отправленной на Ваш электронный адрес.<br>#}
{#			После этого Вы сможете <a href="{% url accounts:login %}">авторизироваться</a> и войти в личный кабинет.#}
		</p>
    </div>
	
{% endblock %}
