{% extends base %}
{% load seo_tags %}
{% seo title %}
{% block title %}{% seo title %}{% endblock %}
{% block description %}{% seo description %}{% endblock %}
{% block keywords %}{% seo keywords %}{% endblock %}

{% block body-class %}text-pages about-page{% endblock %}
{% block all_content %}
<div class="contantpage">
        <div class="b-inner">
            <div id="side-basket"><div class="i">
             </div></div><!-- /side-basket -->
            <div class="content">
                {{ page.text|safe }}
            </div>
        </div>
    </div>
{% endblock %}
