<div class="top">
	<!--
    <a href="#" class="first"><img src="/media/img/icon/mobile.png" alt="">&nbsp;Мобильная&nbsp;версия</a>
	-->
	<a href="http://www.odnoklassniki.ru/uzevezu.ru" target="_blank"><img src="/media/img/icon/ok.png" alt="ok"></a>
    <a href="http://www.facebook.com/pages/%D0%A3%D0%B6%D0%B5-%D0%92%D0%B5%D0%B7%D1%83/466897706689300?ref=hl" target="_blank"><img src="/media/img/icon/fb.png" alt="f"></a>
    <a href="http://vk.com/uzevezu" target="_blank"><img src="/media/img/icon/vk.png" alt="v"></a>
    <a href="https://twitter.com/UzeVezu" target="_blank" class="last"><img src="/media/img/icon/tw.png" alt="t"></a>
</div>
<div id="logo">
    <a href="{% url catalog:index %}"><img src="/media/img/logo.png" alt="Уже везу"></a>
</div>
<div class="about"><div>Удобный и выгодный сервис оформления заказа и доставки еды, продуктов и цветов от сотен служб-партнеров в крупнейших городах России.</div></div>
<div class="phone">
	Санкт-Петербург<br>
	<strong>(812) 648-28-79</strong><br>
	Москва<br>
	<strong>(495) 215-15-78</strong><br>
	круглосуточно
</div>