{% extends base %}
{% block body-class %}inner-pages text-pages about-page{% endblock %}
{% block all_content %}
<div class="contantpage">
        <div class="b-inner">
            <div id="side-basket"><div class="i">
                <div class="box bonus"><div class="i">
                    <p>Внести баллы<br>(не более 234):</p>
                    <div class="count">
                        <input type="text" value="200"> баллов
                    </div>
                    <p>Этот заказ принесет вам:<br>0 баллов</p>
                </div></div>
                <div class="box place"><div class="i">
                    <p>Вы осуществляете заказ у</p>
                    <div class="logo"><a href="#"><img src="img/p-logo-2.jpg" alt="Евразия"></a></div>
                </div></div>
                <div class="box products"><div class="i">
                    <div class="item">
                        <p class="name"><a href="#">Вегетарианская</a></p>
                        <p class="desc">500 /1125г / 30 см.</p>
                        <div class="info">
                            3 шт.
                            <p class="price">975 <span class="ruble">n</span></p>
                        </div>
                        <a href="#" class="del">×</a>
                    </div>
                    <div class="item">
                        <p class="name"><a href="#">Род Айленд</a></p>
                        <p class="desc">500 /1125г / 30 см.</p>
                        <div class="info">
                            1 шт.
                            <p class="price">215 <span class="ruble">n</span></p>
                        </div>
                        <a href="#" class="del">×</a>
                    </div>
                </div></div>
                <div class="box price"><div class="i">
                    <p class="order">Сумма заказа: 1190 <span class="ruble">n</span></p>
                    <p class="delivery">Стоимость доставки: 200 <span class="ruble">n</span></p>
                    <p class="bonus">Вы получите баллов: 354</p>
                    <p class="total">Итого: <strong>1390 <span class="ruble">n</span></strong></p>
                </div></div>
                <div class="box action"><div class="i">
                    <a class="order-button" href="order.php">оформить заказ</a>
                </div></div>
            </div></div><!-- /side-basket -->

            <div class="content">

                <p class="strong">Это независимый клубный проект, объединивший сотни служб доставки еды и продуктов в Единую Систему Заказов. Цель проекта - обеспечить своим пользователям наилучшие условия для быстрого, удобного и выгодного осуществления заказов. Услуги сайта абсолютно бесплатны, а условия доставки очень простые. Все цены на сайте идентичны действующим ценам служб-партнеров.</p>
                <h1>В чем преимущества “Уже везу!”</h1>
                <ul>
                    <li>более 6 регионов</li>
					<li>20 000 служб доставки</li>
					<li>меняй отзывы на баллы, участвуй в розыгрышах</li>
					<li>оплата банковскими картами</li>
				</ul>

            </div>
        </div>
    </div>
{% endblock %}
