<option value="08:00"{% if tm|time:"H:i" == '08:00' %}selected{% endif %}>08:00</option>
<option value="09:00"{% if tm|time:"H:i" == '09:00' %}selected{% endif %}>09:00</option>
<option value="10:00"{% if tm|time:"H:i" == '10:00' %}selected{% endif %}>10:00</option>
<option value="11:00"{% if tm|time:"H:i" == '11:00' %}selected{% endif %}>11:00</option>
<option value="12:00"{% if tm|time:"H:i" == '12:00' %}selected{% endif %}>12:00</option>
<option value="13:00"{% if tm|time:"H:i" == '13:00' %}selected{% endif %}>13:00</option>
<option value="14:00"{% if tm|time:"H:i" == '14:00' %}selected{% endif %}>14:00</option>
<option value="15:00"{% if tm|time:"H:i" == '15:00' %}selected{% endif %}>15:00</option>
<option value="16:00"{% if tm|time:"H:i" == '16:00' %}selected{% endif %}>16:00</option>
<option value="17:00"{% if tm|time:"H:i" == '17:00' %}selected{% endif %}>17:00</option>
<option value="18:00"{% if tm|time:"H:i" == '18:00' %}selected{% endif %}>18:00</option>
<option value="19:00"{% if tm|time:"H:i" == '19:00' %}selected{% endif %}>19:00</option>
<option value="20:00"{% if tm|time:"H:i" == '20:00' %}selected{% endif %}>20:00</option>
<option value="21:00"{% if tm|time:"H:i" == '21:00' %}selected{% endif %}>21:00</option>
<option value="22:00"{% if tm|time:"H:i" == '22:00' %}selected{% endif %}>22:00</option>
<option value="23:00"{% if tm|time:"H:i" == '23:00' %}selected{% endif %}>23:00</option>
<option value="23:59"{% if tm|time:"H:i" == '23:59' %}selected{% endif %}>24:00</option>
<option value="00:00"{% if tm|time:"H:i" == '00:00' %}selected{% endif %}>00:00</option>
<option value="01:00"{% if tm|time:"H:i" == '01:00' %}selected{% endif %}>01:00</option>
<option value="02:00"{% if tm|time:"H:i" == '02:00' %}selected{% endif %}>02:00</option>
<option value="03:00"{% if tm|time:"H:i" == '03:00' %}selected{% endif %}>03:00</option>
<option value="04:00"{% if tm|time:"H:i" == '04:00' %}selected{% endif %}>04:00</option>
<option value="05:00"{% if tm|time:"H:i" == '05:00' %}selected{% endif %}>05:00</option>
<option value="06:00"{% if tm|time:"H:i" == '06:00' %}selected{% endif %}>06:00</option>
<option value="07:00"{% if tm|time:"H:i" == '07:00' %}selected{% endif %}>07:00</option>

