<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Уже везу!</title>
</head>
<body style="background-color:#ffffff;margin:0;padding:0;"><div style="width:100%;background:#ffffff;">

<table cellpadding="0" cellspacing="0" border="0" width="100%" style="font-family: Tahoma, serif;">

<!--tr><td style="font:11px/18px Tahoma, serif; color:#5b5b5b; background-color:#ededed; text-align: center; padding:15px;">Если рассылка отображена некорректно, нажмите <a href="http://forinnovations.org/static/email/email_template.html?source=mail" style="color:#008cf7;">сюда</a></td></tr-->




<tr><td align="center" style="background-color:#ededed;vertical-align:top;text-align:center;">
<table style="font:12px/14px Tahoma, serif; color:#3b3b3b; margin:0; width:733px; margin:0 auto;text-align:left; background:#fff;" cellpadding="0" cellspacing="0" border="0" width="733">
	<!-- HEAD -->
	<tr>
		<td style="vertical-align:top;text-align:left;">
			<table cellpadding="0" cellspacing="0" border="0" width="733" style="width:733px;">
				<tr>
					<td width="204" style="padding-left:36px;">
						<!-- LEFT -->
						<a href="#"><img src="http://uzevezu.ru/media/mail/logo2.jpg" alt=""></a>
					</td>
					<td style="padding:0 36px 0 40px;vertical-align:middle;">
						<!-- CENTER -->
						<div style="font:20px/22px Tahoma, serif;color:#f44c3b; margin:0 0 25px 0">Добро пожаловать на сайт <a style="color:#f44c3b" href="http://www.uzevezu.ru/">www.UzeVezu.ru</a>!</div>
						<div style="font:12px/16px Tahoma, serif;color:#9c9c9c;margin:0 0 25px 0;">Нам очень приятно, что Вы присоединились к нашему онлайн-сервису. Также мы рады сообщить, что Вам автоматически зачислено 500 бонусных баллов, которыми можно оплатить часть своего первого заказа.</div>
                        <div style='font:12px/16px Tahoma, serif;color:#9c9c9c;margin:0 0 25px 0;'>Пройдите по ссылке, чтобы подтвердить свою регистрацию: <a href='{{ link }}'>{{ link }}</a> или скопируйте ее в адресную строку браузера.</div>
						<!--
						<div style="font:22px/24px Tahoma, serif;color:#221e1b;"><span style="font-size:12px;font-weight:bold;">ВАШ ЛОГИН:</span>  ivanovivan@mail.ru</div>
						<div style="font:22px/24px Tahoma, serif;color:#221e1b;"><span style="font-size:12px;font-weight:bold;">ВАШ ПАРОЛЬ:</span>  74hfjh8r84f</div>
						-->
						<div style="text-align:right;padding:20px 0 0"><img src="http://uzevezu.ru/media/mail/head.jpg" alt=""></div>
					</td>
					<td width="120" style="vertical-align:top;">
						<!-- RIGHT -->
						<img src="http://uzevezu.ru/media/mail/top-right.jpg" alt="">
					</td>
				</tr>
				<tr>
					<td colspan="2" style="padding:15px 0 35px 0; vertical-align:top">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td width="120" style="text-align:left;vertical-align:bottom">
									<img src="http://uzevezu.ru/media/mail/btm-left.jpg" alt="">
								</td>
								<td style="vertical-align:top">
									<div style="font:36px/40px Tahoma, serif;color:#221e1b;margin:0 0 20px 0;">Воспользуйтесь возможностями нашего сервиса:</div>
									<!--
									<div style="font:12px/16px Tahoma, serif;color:#221e1b;margin:0 0 35px 0">
										Сделайте Заказ на сайте УжеВезу.ру и вы автоматически заработаете Бонусные баллы, размер которых составляет 2%-5% от стоимости Заказа.
										Используйте эти баллы делая Заказы у более чем 1000 наших партнеров по Москве и Санкт-Петербургу для получения скидки на стоимость заказа.
									</div>
									<div style="font:24px/30px Tahoma, serif;color:#221e1b;margin:0 0 20px 0;">Условия</div>
									<table width="100%" cellpadding="0" cellspacing="0">
										<tr>
											<td style="text-align:center;padding:10px 0">
												<div style="font:bold 40px/36px Tahoma, serif;color:#221e1b;">500</div>
												<div style="font:11px/14px Tahoma, serif;color:#221e1b;">баллов</div>
											</td>
											<td style="padding:10px 10px 10px 18px;">
												<div style="font:14px/18px Tahoma, serif;color:#221e1b;">При регистрации на сайте и первом заказе Вы получаете 500 баллов, эквивалентных 50-ти рублям на счет.</div>
											</td>
										</tr>
										<tr>
											<td style="text-align:center;padding:10px 0;border-top:1px dotted #ccc;">
												<div style="font:bold 40px/36px Tahoma, serif;color:#221e1b;">500</div>
												<div style="font:11px/14px Tahoma, serif;color:#221e1b;">баллов</div>
											</td>
											<td style="padding:10px 10px 10px 18px;border-top:1px dotted #ccc;">
												<div style="font:14px/18px Tahoma, serif;color:#221e1b;">При регистрации Вашего друга на сайте, после его первого заказа Вы получаете 500 баллов на счет.</div>
											</td>
										</tr>
										<tr>
											<td style="text-align:center;padding:10px 0;border-top:1px dotted #ccc;">
												<div style="font:bold 40px/36px Tahoma, serif;color:#221e1b;">20</div>
												<div style="font:11px/14px Tahoma, serif;color:#221e1b;">баллов</div>
											</td>
											<td style="padding:10px 10px 10px 18px;border-top:1px dotted #ccc;">
												<div style="font:14px/18px Tahoma, serif;color:#221e1b;">При последующих заказах Вы получаете еще от 20 баллов за каждые потраченные 100 рублей.</div>
											</td>
										</tr>
										<tr>
											<td style="text-align:center;padding:10px 0;border-top:1px dotted #ccc;">
												<div style="font:bold 40px/36px Tahoma, serif;color:#221e1b;">50</div>
												<div style="font:11px/14px Tahoma, serif;color:#221e1b;">баллов</div>
											</td>
											<td style="padding:10px 10px 10px 18px;border-top:1px dotted #ccc;">
												<div style="font:14px/18px Tahoma, serif;color:#221e1b;">За каждый оставленный отзыв о заведении Вы получаете 50 баллов.</div>
											</td>
										</tr>
									</table>
									<br>
									<div style="font:italic 12px/16px Tahoma, serif;color:#8b8b8b;margin:0 0 25px 0;">
										Баллы начисляются в течение 24 часов после оформления заказа.<br>
										Баллами можно оплачивать до 10% суммы заказа. <br>
										Из расчета 10 баллов = 1 рубль.<br>
										На сумму заказа, оплаченную бонусными баллами, баллы не начисляются.
									</div>
									<a href="" style="font:14px/16px Tahoma, serif;color:#f44c3b;margin:0 0 25px 0;">Пригласить друга! <img src="arr-red.png" alt=""></a>
									-->
									<div style="background:#eaeaea;padding:20px 15px;">
										ЗАКАЖИТЕ ДОСТАВКУ<br>
										<ul>
										<li><a href="http://uzevezu.ru/catalog/services/fastfood/" style="color:#3e3e3e">Еды из ресторанов</a></li>
										<li><a href="http://uzevezu.ru/catalog/services/food/" style="color:#3e3e3e">Продуктов из супермаркета</a></li>
										<li><a href="http://uzevezu.ru/catalog/services/flowers/" style="color:#3e3e3e">Цветов</a></li>
										</ul>
										<br>
										ОСТАВЬТЕ ОТЗЫВ<br><br>
										<a href="http://uzevezu.ru/profile/bonuses/" style="color:#3e3e3e">ПОЛУЧИТЕ БОНУСНЫЕ БАЛЛЫ</a><br><br>
										<a href="http://uzevezu.ru/profile/bonuses/" style="color:#3e3e3e">ПРИГЛАCИТЕ  ДРУЗЕЙ</a><br><br>
										<a href="http://uzevezu.ru/blog/" style="color:#3e3e3e">СЛЕДИТЕ ЗА НОВОСТЯМИ ПРОЕКТА</a>
									</div>
								</td>
							</tr>
						</table>
					</td>
					<td width="120" style="vertical-align:top;text-align:right;">
						<img src="http://uzevezu.ru/media/mail/right.jpg" alt="">
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<img src="http://uzevezu.ru/media/mail/btm.jpg" alt="">
					</td>
				</tr>
			</table>			
		</td>
	</tr>
	<!-- /HEAD -->
</table>
</td></tr>



<!-- FOOTER -->
<tr><td style="font:11px/18px Tahoma, serif; color:#5b5b5b; background-color:#ffffff; text-align: center;">
<div style="height:60px;background-color:#ededed;">&nbsp;</div>
<div style="padding:15px;">Это автоматическая рассылка.<br>Если Вы получили это письмо случайно, Вы можете <a href="#" style="color:#008cf7;">отказаться от рассылки</a>.</div>
</td></tr>
<!-- /FOOTER -->

</table>
</div></body>
</html>
