<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Уже везу!</title>
</head>
<body style="background-color:#ffffff;margin:0;padding:0;"><div style="width:100%;background:#ffffff;">

<table cellpadding="0" cellspacing="0" border="0" width="100%" style="font-family: Tahoma, serif;">

<tr><td align="center" style="background-color:#ededed;vertical-align:top;text-align:center;">
<table style="font:12px/14px Tahoma, serif; color:#3b3b3b; margin:0; width:840px; margin:0 auto;text-align:left;" cellpadding="0" cellspacing="0" border="0" width="840">
	<!-- HEAD -->
	<tr>
		<td style="vertical-align:top;text-align:left;padding:0 20px" width="840">
			<table cellpadding="0" cellspacing="0" border="0" width="840" style="width:840px;">
				<tr>
					<td>
						<br><br>
						<div style="margin:0 0 15px 0;font-size:22px;line-height:26px;color:#241e1c">{{ username|upper }} приглашает Вас присоединиться<br>к сервису <a href="http://{{ site_url }}" style="color:#241e1c">UzeVezu.ru</a>.</div>
						<table>
							<tr>
							    <td width="395" style="padding:0 49px 0 0;">
									<div style="font:12px/18px 'Trebuchet MS',Arial,sans-serif;color:#636262">
										<a href="http://{{ site_url }}" style="color:#241e1c">УЖЕ ВЕЗУ</a>  - это удобный и выгодный сервис оформления заказа и доставки еды, продуктов и цветов на дом или в офис в Москве и Санкт-Петербурге.
										<br><br>
										С "Уже везу" Вы можете заказывать:<br>
										<ul>
										<li><a style="color:#241e1c" href="http://{{ site_url }}/catalog/services/fastfood/">Готовую еду</a> из ресторанов: пиццу, суши, пироги, бургеры и многое другое.</li>
										<li>Доставку <a style="color:#241e1c" href="http://{{ site_url }}/catalog/services/food/">свежих продуктов</a> из супермаркета.</li>
										<li><a style="color:#241e1c" href="http://{{ site_url }}/catalog/services/flowers/">Цветы и букеты</a> своим близким и знакомым.</li>
										</ul>
										<br>
										И все это Вы можете сделать, не выходя из дома или офиса!
										<br><br>
										Кроме того:
										<br><br>
										Услуги сервиса абсолютно бесплатны. Все цены на сайте <a style="color:#241e1c" href="http://{{ site_url }}" target="_blank">www.uzevezu.ru</a>  соответствуют ценам наших партнеров.<br>
										Сервис "Уже везу" позволяет сделать выбор из сотен служб доставки и сравнить предложения наших партнеров.<br>
										Зарегистрировавшись на сайте, Вы можете зарабатывать бонусные баллы и расплачиваться ими за последующие заказы.
										<br><br>
									</div>
								</td>
								<td width="396">
									<table cellpadding="0" cellspacing="0" border="0" width="396" height="396">
										<tr>
											<td colspan="3" style="text-align:center;line-height:0;font-size:0;vertical-align:bottom"><img src="http://{{ site_url }}/media/mail/bonus-top.png" alt="" height="58" width="280" style="font-size:0;line-height:0;border:0;"></td>
										</tr>
										<tr>
											<td style="vertical-align:top;line-height:0;font-size:0"><img src="http://{{ site_url }}/media/mail/bonus-left.png" alt="" height="280" width="58" style="font-size:0;line-height:0;border:0;"></td>
											<td style="vertical-align:top;text-align:center;height:280px">
												<div style="height:280px;background:#ef4e3f;color:#fff;overflow:hidden">
													<div style="font-size:22px;line-height:24px;margin:0 0 20px 0;">Пригласи друга<br>и получи еще 500 баллов<br>на счет*!</div>
													<div class="email">
														<a style="color:#fff;font-size:14px;" href="{{ register_link }}">Присоединиться к клубу</a>
														<br>
														<a style="color:#fff;font-size:14px;" href="http://{{ site_url }}/bonuses/">Как заработать бонусные баллы</a>
													</div>
													<br>
													<div class="social" style="font-size:12px;">
														<p class="name" style="font-size:12px;">Пригласить друга из социальных сетей</p>
														<p class="social-icons" style="font-size:12px;">
															<a href="http://vk.com/uzevezu" target="_blank"><img src="http://{{ site_url }}/media/mail/vk.gif" alt=""></a>
															<a href="https://twitter.com/UzeVezu" target="_blank" class="last"><img src="http://{{ site_url }}/media/mail/tw.gif" alt=""></a>
															<a href="http://www.facebook.com/pages/%D0%A3%D0%B6%D0%B5-%D0%92%D0%B5%D0%B7%D1%83/466897706689300?ref=hl" target="_blank"><img src="http://{{ site_url }}/media/mail/fb.gif" alt=""></a>
														</p>
														<p class="note" style="font-size:12px;">кликните на выбранную иконку и пригласите ваших друзей из социальных сетей</p>
													</div>
													<div style="margin-top:2px; font-size:12px;">* - после его первого заказа</div>
												</div>
											</td>
											<td style="vertical-align:top;line-height:0;font-size:0;vertical-align:top"><img src="http://{{ site_url }}/media/mail/bonus-right.png" style="font-size:0;line-height:0;border:0;" height="280" width="58" alt=""></td>
										</tr>
										<tr>
											<td colspan="3" style="text-align:center"><img src="http://{{ site_url }}/media/mail/bonus-btm.png" height="58" width="280" alt="" style="font-size:0;line-height:0;border:0;"></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>	
					</td>
				</tr>
			</table>			
		</td>
	</tr>
	<!-- /HEAD -->
</table>
</td></tr>



<!-- FOOTER -->
<tr><td style="font:11px/18px Tahoma, serif; color:#5b5b5b; background-color:#ffffff; text-align: center;">
<div style="height:60px;background-color:#ededed;">&nbsp;</div>
<div style="padding:15px;">Это автоматическая рассылка.<br>Если Вы получили это письмо случайно, Вы можете <a href="#" style="color:#008cf7;">отказаться от рассылки</a>.</div>
</td></tr>
<!-- /FOOTER -->

</table>
</div></body>
</html>
