{% extends global_settings.DEFAULT_TEMPLATE %}
{% block css %}{% load coretags corefilters %}
    {{ block.super }}
    <link rel='stylesheet' href='/media/css/inner.css' type='text/css' >
{% endblock %}
{% block border %}
    {% include "catalog/border_list.html" %}
{% endblock %}
{% block body-class %}inner-pages catalog-pages {% if cart.get_total_items_count %}basket-is-active{% endif %}{% endblock %}
{% block content %} {% load thumbnail pytils_numeral catalogtags %}
<div class="top-service-info"> 
	<div class="back-to-link"><a href="{% url catalog:catalog-list service.service.codename %}">ВЕРНУТЬСЯ К СПИСКУ</a></div>
	{% if not service.is_published %}
	<div class="left">
		<h3 class="note-top">В настоящее время "{{ service.service_name|default_if_none:service.username }}" заказы не принимает.<br>Возможен только предварительный заказ</h3>
	</div>
	{% endif %}
</div>
<div class="b-item-list places detail-page">
    <div class="item {% if service.get_active_specials or service.get_specials %}action{% endif %}">
        <div class="preview">
            {% include "catalog/include/service_logo.html" %}
            {% include "catalog/include/service_rating.html" %}
        </div>
        <div class="preview-text">
            <h3><a href="{% url catalog:service-page service.pk %}">{{ service.service_name|default_if_none:service.username }}</a></h3>
            {% include "catalog/include/catalog_categories.html" %}
            {% include "catalog/include/catalog_info_table.html" %}
            {% include "catalog/include/catalog_note.html" %}
        </div>
    </div>
</div>
<!-- inner content for service -->
<div class="content-menu-wrap">
    <ul class="content-menu">
        <li class='active'>
            <a href="#">{% get_term service=service code='service-menu-link' default='Меню' %}</a><span class="arr"></span>
        </li>
        <li><a href="{% url catalog:service-about service.pk %}">
            {% get_term service=service code='service-about-link' default="О ресторане" %}
            </a><span class="arr"></span>
        </li>
        {% if service.get_specials or service.get_active_specials %}
        <li><a href="{% url catalog:service-specials service.pk %}">Акции ({{ service.get_specials.count|add:service.get_active_specials.count }})</a><span class="arr"></span></li>
        {% endif %}
        <li><a href='{% url catalog:service-rating service.pk %}'>Отзывы</a><span class="arr"></span></li>
    </ul>
</div>
<div class="content-menu-cnt">
    {% include "catalog/include/addons_include.html" %}
	<div class="b-dish-list">
		<div class="line">
			{% include "catalog/include/service_page_items.html" %}
		</div>
	</div>
	{% comment %}
    {% include "pages.html" with page=items %}
	{% endcomment %}
	{% include "pages_menu.html" with page=items %}
    </div>
</div>

{% include "jtmpl/service.js" %}
{% endblock %}
